/*@import url(http://allfont.ru/allfont.css?fonts=arial-narrow);*/

#allcatalog {
    margin-top:15px;
}
#allcatalog th {
    background:#006794;
    color:#fff;
    padding:5px;

    padding-top:5px;
    font-size:14px;
    text-align: center;
}

#allcatalog td {
    padding:2px;
    white-space:nowrap;
    font-size:14px;
    text-align: center;
}

.filters label, .filters input[type=text]{
    font-size:14px;
}

.descrtd p {
    width:700px;
    white-space: normal;
    text-align: left;
}

.descrtd img {
    float:left;
}
.spoiler >  input + .box {
    display: none;
}
.spoiler >  input:checked + .box {
    display: block;
}

nav {background: #413F3C;}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul:after {
    content: "";
    display: table;
    clear: both;
}
nav a {
    text-decoration: none;
    display: block;
    transition: .3s linear;
}
.topmenu > li {
    float: left;
    position: relative;
    border-left: 1px solid black;
}
.topmenu > li:first-child {border-left: 0;}
.topmenu > li > a {
    padding: 20px 30px;
    font-size: 12px;
    text-transform: uppercase;
    color: #FEFDFD;
    letter-spacing: 2px;
}
.topmenu > li > a.active,
.submenu a:hover {color: #ddbe86;}
.topmenu .fa,
.submenu .fa {
    margin-left: 5px;
    color: inherit;
}
.submenu {
    position: absolute;
    z-index: 5;
    min-width: 200px;
    background: white;
    left:200px;
    border-left: 1px solid #CBCBCC;
    border-right: 1px solid #CBCBCC;
    visibility: hidden;
    opacity: 0;
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
    transition: .3s linear;
}
.submenu li {position: relative;}
.submenu li a {
    color: #282828;
    padding: 10px 20px;
    font-size: 13px;
    border-bottom: 1px solid #CBCBCC;
}
.submenu .submenu {
    position: absolute;
    left: 100%;
    top: -1px;
    transition: .3s linear;
}
nav li:hover > .submenu {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
}
nav li:hover > div.submenu {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
    width:100%;
}
.spoiler >  input + .box {
    display: none;
}
.spoiler >  input:checked + .box {
    display: block;
}

.mainmenu {
    background:#00a0e3;
    color:#fff;
}

.navbar-brand {
    color:#fff;
}

.navbar-nav > li > a {
color:#fff;
}

.navbar-brand {
    color:#fff;
}

body {
    padding-left:10px;
    padding-right:10px;
    font-family: "Arial Narrow", sans-serif;



}

.form-control {
    padding-right:10px;
}
.menu {
    padding-bottom: 0px;
    margin-bottom: -4px;
}
.menu li {
    background: #f7f7f7;
    height:45px;
    position:relative;
    display: block;
    margin-left:-30px;
    width:230px;
    font-family: "Arial";
    font-size:12px;
    padding-left:40px;
    padding-top:13px;
    border-bottom: solid 1px #a0a0a0 ;
    text-transform: uppercase;
    color:#3a3a3a;
}

.menu_wrapper {
    background: #f7f7f7;
    padding:3px;
    width:250px;
    margin-left:15px;
    padding-bottom:-17px;
    border:solid 2px #a0a0a0;
}


.filters {
    width:250px;
    text-align:center;
    padding-left:25px;
    padding-right:25px;
    padding-top:20px;
    border:solid 2px #a0a0a0;
    margin-top:20px;
    margin-left:15px;
}

.header {
    top:-40px;
    text-align: center;
    margin: auto 0px;

}

.header .pics {
    width:700px;
    text-align: center;
    left:7%;
}
.header div {
    float:left;
    width:120px;
    position: relative;
    margin-left:20px;
    text-align: center;
}

.header div p {
    font-size:14px;
    color:#00a0e3;
    font-weight: bold;
}

.header h2 {
    color:#3084a9;
    font-weight:300;
    font-size:24px;
}

.phones {
    color:#2f83a9;
    font-size:22px;
    font-weight: bold;
}
.btn-orange {
    background: #ff6000;
    color:#fff;
    font-size:16px;
    font-weight: bold;
    border-radius: 0px;
}

.btn-orange:hover {
    color:#fff;
    background: #dd5300;
}

.dropdown-submenu { position: relative; }
.dropdown-submenu > .dropdown-menu { top: 0; left: 100%; margin-left: -1px; }
.dropdown-submenu > a:after { display: block; content: " "; float: right; width: 0; height: 0; border-color: transparent; border-style: solid; border-width: 5px 0 5px 5px; border-left-color: #cccccc; margin-top: 5px; margin-right: -10px; }
.dropdown-submenu:hover > a:after { border-left-color: #ffffff; }
.dropdown-submenu.pull-left { float: none; } .dropdown-submenu.pull-left > .dropdown-menu{ left: -100%; margin-left: 10px; }