/*@import url(http://allfont.ru/allfont.css?fonts=arial-narrow);*/
.spoiler >  input + .box > div{
    display: none;
}
.spoiler >  input:checked + .box > div {
    display: block;
    padding-left:25px;
}
.spoiler >  input[type="checkbox"] {
    cursor: pointer;
    border-color:transparent!important;
    border-style:none!important;
    background:transparent none!important;
    position:relative;z-index:1;
    margin:12px 0 -30px -230px;
}
.spoiler span.close_sp,
.spoiler span.open{
    padding-left:22px;
    color: #00f!important;
    text-decoration: underline;
}
.spoiler >  input[type="checkbox"]:focus {
    outline:none;	/* Убираем обводку в ИЕ8 при "фокусе" */
}
.spoiler >  input +  .box > span.close_sp {
    display: none;
}
.spoiler >  input:checked +  .box > span.close_sp {
    background: url(http://hostjs-mybb2011.narod.ru/img/minus.png) 4px 60% no-repeat;
    display: inline;
}
.spoiler >  input:checked  + .box > span.open {
    display: none;
}
.spoiler >  input +  .box >  span.open {
    background: url(http://hostjs-mybb2011.narod.ru/img/plus.png) 4px  60% no-repeat;
    display: inline;
}
.spoiler div,
.spoiler{

}
.spoiler {
    overflow-x:hidden;

}
.spoiler div {

    min-height: 25px;

}


#allcatalog {
    margin-top:15px;
}
#allcatalog th {
    background:#006794;
    color:#fff;
    padding:5px;

    padding-top:5px;
    font-size:14px;
    text-align: center;
}

#allcatalog td {
    padding:2px;
    white-space:nowrap;
    font-size:14px;
    text-align: center;
}

.filters label, .filters input[type=text]{
    font-size:14px;
}

.descrtd p {
    width:700px;
    white-space: normal;
    text-align: left;
}

.descrtd img {
    float:left;
}


nav {color:#1a1a1a;}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul:after {
    content: "";
    display: table;
    clear: both;
}
nav a {
    text-decoration: none;
    display: block;

}
.topmenu > li {
    float: left;
    position: relative;

    width:250px;
}
.topmenu > li:first-child {border-left: 0;}
.topmenu > li > a {
    background: #f7f7f7;
    height:45px;
    position:relative;
    display: block;

    width:230px;
    font-family: "Arial";
    font-size:12px;
    padding-left:40px;
    padding-top:13px;
    border-bottom: solid 1px #a0a0a0 ;
    text-transform: uppercase;
    color:#3a3a3a;

}
.topmenu > li > a.active,
.submenu a:hover {color: #ddbe86;}
.topmenu .fa,
.submenu .fa {
    margin-left: 5px;
    color: inherit;
}
.submenu {
    position: absolute;
    z-index: 5;
    min-width: 200px;

    left:240px;
    top:0px;
    background: #faf8f8;
    border: 1px solid #CBCBCC;
    visibility: hidden;
    opacity: 0;
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);

}
.submenu li {position: relative;}
.submenu li a {
    color: #282828;


    padding-bottom:5px;
    padding-top:5px;
}
.submenu .submenu {
    position: absolute;
    left: 100%;
    top: -1px;
    transition: .3s linear;
}
nav li:hover > .submenu {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
    font-size:16px;
}
nav li:hover > div.submenu {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
    width:100%;
}



.mainmenu {
    background:#00a0e3;
    color:#fff;
}

.navbar-brand {
    color:#fff;
}

.navbar-nav > li > a {
color:#fff;
}

.navbar-brand {
    color:#fff;
}

body {
    padding-left:10px;
    padding-right:10px;
    font-family: "Arial Narrow", sans-serif;



}

.form-control {
    padding-right:10px;
}
.menu {
    padding-bottom: 0px;
    margin-bottom: -4px;
}
.menu li {
    background: #f7f7f7;
    height:45px;
    position:relative;
    display: block;
    margin-left:-30px;
    width:230px;
    font-family: "Arial";
    font-size:12px;
    padding-left:40px;
    padding-top:13px;
    border-bottom: solid 1px #a0a0a0 ;
    text-transform: uppercase;
    color:#3a3a3a;
}

.menu_wrapper {
    background: #f7f7f7;
    padding:3px;
    width:250px;
    margin-left:15px;
    padding-bottom:-17px;
    border:solid 2px #a0a0a0;
}


.filters {
    width:250px;
    text-align:center;
    padding-left:25px;
    padding-right:25px;
    padding-top:20px;
    border:solid 2px #a0a0a0;
    margin-top:20px;
    margin-left:15px;
}

.header {
    top:-40px;
    text-align: center;
    margin: auto 0px;

}

.header .pics {
    width:700px;
    text-align: center;
    left:7%;
}
.header div {
    float:left;
    width:120px;
    position: relative;
    margin-left:20px;
    text-align: center;
}

.header div p {
    font-size:14px;
    color:#00a0e3;
    font-weight: bold;
}

.header h2 {
    color:#3084a9;
    font-weight:300;
    font-size:24px;
}

.phones {
    color:#2f83a9;
    font-size:22px;
    font-weight: bold;
}
.btn-orange {
    background: #ff6000;
    color:#fff;
    font-size:16px;
    font-weight: bold;
    border-radius: 0px;
}

.btn-orange:hover {
    color:#fff;
    background: #dd5300;
}

.dropdown-submenu { position: relative; }
.dropdown-submenu > .dropdown-menu { top: 0; left: 100%; margin-left: -1px; }
.dropdown-submenu > a:after { display: block; content: " "; float: right; width: 0; height: 0; border-color: transparent; border-style: solid; border-width: 5px 0 5px 5px; border-left-color: #cccccc; margin-top: 5px; margin-right: -10px; }
.dropdown-submenu:hover > a:after { border-left-color: #ffffff; }
.dropdown-submenu.pull-left { float: none; } .dropdown-submenu.pull-left > .dropdown-menu{ left: -100%; margin-left: 10px; }
.cont { width:1000px; }
.logo {
    padding-top:20px;
    padding-bottom:20px;
    padding-left:25px;
}

